# Part 1 of the Machine Learning Project

## Preliminaries


Before satring familiarize yourself with pandas reading the “10 minutes to pandas” tutorial: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

Browse through the full pandas user guide when needed: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html


## Load libraries

In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd

# File system manangement
import os

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns

<p><img alt="Datasets" src="https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png" align="left" hspace="10px" vspace="0px"></p>


<h1>Datasets</h1>

<h1>Loading the datasets (2 pts)</h1>

1. Similarly to the train set, load the test set, the bureau dataset and the past applications dataset.

2. Display for each the number of rows and the number of columns

*You will be evaluated as follow*
* 1: Correct approach + code: 1pt
* 2: Code: 1pts

In [2]:
#The variables that should be implemented to store the data are: app_train, app_test, bureau, app_past

# 1 - Loading the different datasets.
app_train = pd.read_csv('data/application_train.csv.zip', compression = 'zip')
app_test = pd.read_csv('data/application_test.csv.zip', compression = 'zip')
bureau = pd.read_csv('data/bureau.csv.zip', compression = 'zip')
app_past = pd.read_csv('data/previous_application.csv.zip', compression = 'zip')


# 2 - The number of rows and columns for each
print('Training data shape (rows, columns):', app_train.shape)
print('Test data shape:', app_test.shape)
print('Bureau data shape:', bureau.shape)
print('Past Applications data shape:', app_past.shape)

Training data shape (rows, columns): (307511, 122)
Test data shape: (48744, 121)
Bureau data shape: (1716428, 17)
Past Applications data shape: (1670214, 37)

<h1> Feature Engineering</h1>

<h2>Missing values (9pts)</h2>


**3.a**: What columns are missing the most values in app_test?

**3.b**: What columns are missing the most values in bureau?

**3.c**: What columns are missing the most values in app_past?

4: Fix missing data in app_test dataset using categorization and/or simple imputation when appropriate. Be careful to the **data leakage** issue!

*You will be evaluated as follow*
* 3: Correct approach + code 2pts.
* 4: Description of the approach 4pts. Code implementation of the approach 3pts.

In [20]:
# 3

## a
total_app_test = app_test.isnull().sum().sort_values(ascending=False)
percent_app_test = (((app_test.isnull().sum())/len(app_test))*100).sort_values(ascending=False)
missing_app_test_data = pd.concat([total_app_test, percent_app_test], axis=1, keys=['Total', 'Percent'])
print('Columns with the most missing values in app_test: ')
missing_app_test_data.head(20)

Columns with the most missing values in app_test:

                          Total    Percent
COMMONAREA_AVG            33495  68.716150
COMMONAREA_MODE           33495  68.716150
COMMONAREA_MEDI           33495  68.716150
NONLIVINGAPARTMENTS_AVG   33347  68.412523
NONLIVINGAPARTMENTS_MODE  33347  68.412523
NONLIVINGAPARTMENTS_MEDI  33347  68.412523
FONDKAPREMONT_MODE        32797  67.284179
LIVINGAPARTMENTS_AVG      32780  67.249302
LIVINGAPARTMENTS_MODE     32780  67.249302
LIVINGAPARTMENTS_MEDI     32780  67.249302
FLOORSMIN_MEDI            32466  66.605121
FLOORSMIN_AVG             32466  66.605121
FLOORSMIN_MODE            32466  66.605121
OWN_CAR_AGE               32312  66.289184
YEARS_BUILD_AVG           31818  65.275726
YEARS_BUILD_MEDI          31818  65.275726
YEARS_BUILD_MODE          31818  65.275726
LANDAREA_MEDI             28254  57.964057
LANDAREA_AVG              28254  57.964057
LANDAREA_MODE             28254  57.964057

In [6]:
## b
total_bureau = bureau.isnull().sum().sort_values(ascending=False)
percent_bureau = (((bureau.isnull().sum())/len(bureau))*100).sort_values(ascending=False)
missing_bureau_data = pd.concat([total_bureau, percent_bureau], axis=1, keys=['Total', 'Percent'])
print('Columns with the most missing values in bureau: ')
missing_bureau_data.head(17) #there are only 17 columns in the entire bureau dataset

Columns with the most missing values in bureau:

                          Total    Percent
AMT_ANNUITY             1226791  71.473490
AMT_CREDIT_MAX_OVERDUE  1124488  65.513264
DAYS_ENDDATE_FACT        633653  36.916958
AMT_CREDIT_SUM_LIMIT     591780  34.477415
AMT_CREDIT_SUM_DEBT      257669  15.011932
DAYS_CREDIT_ENDDATE      105553   6.149573
AMT_CREDIT_SUM               13   0.000757
CREDIT_ACTIVE                 0   0.000000
CREDIT_CURRENCY               0   0.000000
DAYS_CREDIT                   0   0.000000
CREDIT_DAY_OVERDUE            0   0.000000
SK_ID_BUREAU                  0   0.000000
CNT_CREDIT_PROLONG            0   0.000000
AMT_CREDIT_SUM_OVERDUE        0   0.000000
CREDIT_TYPE                   0   0.000000
DAYS_CREDIT_UPDATE            0   0.000000
SK_ID_CURR                    0   0.000000

In [7]:
## c 
total_app_past = app_past.isnull().sum().sort_values(ascending=False)
percent_app_past = (((app_past.isnull().sum())/len(app_past))*100).sort_values(ascending=False)
missing_app_past_data = pd.concat([total_app_past, percent_app_past], axis=1, keys=['Total', 'Percent'])
print('Columns with the most missing values in app_past: ')
missing_app_past_data.head(20)

Columns with the most missing values in app_past:

                             Total    Percent
RATE_INTEREST_PRIVILEGED   1664263  99.643698
RATE_INTEREST_PRIMARY      1664263  99.643698
AMT_DOWN_PAYMENT            895844  53.636480
RATE_DOWN_PAYMENT           895844  53.636480
NAME_TYPE_SUITE             820405  49.119754
NFLAG_INSURED_ON_APPROVAL   673065  40.298129
DAYS_TERMINATION            673065  40.298129
DAYS_LAST_DUE               673065  40.298129
DAYS_LAST_DUE_1ST_VERSION   673065  40.298129
DAYS_FIRST_DUE              673065  40.298129
DAYS_FIRST_DRAWING          673065  40.298129
AMT_GOODS_PRICE             385515  23.081773
AMT_ANNUITY                 372235  22.286665
CNT_PAYMENT                 372230  22.286366
PRODUCT_COMBINATION            346   0.020716
AMT_CREDIT                       1   0.000060
NAME_YIELD_GROUP                 0   0.000000
NAME_PORTFOLIO                   0   0.000000
NAME_SELLER_INDUSTRY             0   0.000000
SELLERPLACE_AREA                 0   0.000000

In [23]:
# 4: Fix missing data in app_test using categorization and/or simple imputation when appropriate. You should use *only* pandas and numpy here. You should *not* use sklearn (scikit-learn).

# First, we look at the columns with more than 30% of missing values
large_na_col_app_test = percent_app_test[percent_app_test > 30].index
large_na_app_test = app_test[large_na_col_app_test]

print('Number of columns with at least 30% missing values in app_test:', large_na_app_test.shape[1])
large_na_app_test.head()

Number of columns with at least 30% missing values in app_test: 50

,COMMONAREA_AVG,COMMONAREA_MODE,COMMONAREA_MEDI,NONLIVINGAPARTMENTS_AVG,NONLIVINGAPARTMENTS_MODE,NONLIVINGAPARTMENTS_MEDI,FONDKAPREMONT_MODE,LIVINGAPARTMENTS_AVG,LIVINGAPARTMENTS_MODE,LIVINGAPARTMENTS_MEDI,...,FLOORSMAX_AVG,FLOORSMAX_MEDI,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,TOTALAREA_MODE,EMERGENCYSTATE_MODE,EXT_SOURCE_1,OCCUPATION_TYPE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.125,0.125,0.125,0.9732,0.9732,0.9732,0.0392,No,0.752614,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.564990,Low-skill Laborers
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Drivers
3,0.1165,0.1176,0.1173,0.0386,0.0389,0.0388,reg oper account,0.2404,0.2626,0.2446,...,0.375,0.375,0.375,0.9970,0.9970,0.9970,0.3700,No,0.525734,Sales staff
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202145,NaN

**4**: Describe your approach, including how you choose the technique to apply, and how you apply the technique (double click to edit a text cell)

## Class Imbalance (8 pts)

5. Evaluate the class imbalance of the training set.

6. **a** Fix the class imbalance with over/undersampling

 **b** Use the SMOTE algorithm to fix class imbalance

*You will be evaluated as follow*
* 5: Correct approach + code: 2ts
* 6.a: code 3pt
* 6.b: code 3pts

In [ ]:
# 5 - value counts


# 5 - histograms

**5**: Describe briefly your observation (double click to edit a text cell)

In [ ]:
# copy your current dataframe with its .copy() method. You should always use the copy() method if you want to keep the original dataframe untouched when you modify
# this is a very common bug, so please read  https://www.statology.org/pandas-copy-dataframe/

## Your code here
app_train_original = ...


# 6.a - fix imbalance with undersampling or oversampling
# Implement undersampling or oversampling *without* external libraries, only the library provided to implement yourself the chosen solution.

## Your code here


# 6.b - fix balance with SMOTE on your previously copied dataframe
# You can use any external libraries to use SMOTE. We recommend the imbalanced-learn package https://imbalanced-learn.org/stable/over_sampling.html
# Make sure to select the appropriate SMOTE variant.


## Your code here
app_train_smote = ...


# We will use the dataframe app_train from 6.a in the following

<h2>Categorical features (9pts)</h2>

In `app_test`

**7a**: How will you transform the column NAME_HOUSING_TYPE in app_test be correctly handled by the model? How will you transform CODE_GENDER column?

**7b**: How would you transform the column NAME_HOUSING_TYPE in app_test if you want only 3 categories? Use LabelEncoder to transform FLAG_OWN_CAR column.

**7c**: In ORGANIZATION_TYPE, only keep the categories that appear in more than 10% of the dataset. Group other categories in one. What is the size of the dummy vector for ORGANIZATION_TYPE after this transformation?


8: **In app_test, app_past and bureau,** transform all the categorical columns that you have not processed in 7 using One-hot encoding.

*You will be evaluated as follow*
* 7: Description of the approach 4pts. Code 3pts.
* 8: Correct approach + code 2pts.

In [ ]:
## Your code here

<h2>Anomalies (7 pts)</h2>

**In app_test**

**9a**: Is there an anomaly with the column DEF_30_CNT_SOCIAL_CIRCLE? If so, how would you solve it?

**9b**: Is there an anomaly with the column LANDAREA_AVG? If so, how would you solve it?

**9c**: Is there an anomaly with the column AMT_INCOME_TOTAL? If so, how would you solve it?

10: Fix the anomaly in DAYS_EMPLOYED?

*You will be evaluated as follow*
* 9: Description of the approach + code 5pts.
* 10: code 2pts

In [ ]:
## Your code here

<h2>Correlations (9 pts)</h2>


11: **In app_test**, remove the collinear features of the dataset. How did you choose the threshold?

12: What features from bureau.csv could you use to improve the training set? Use the random forest model from the notebook of the Lecture to check if it actually improves the final model performance.

*You will be evaluated as follow*
* 11: Code 3pts. Threshold explanation 1pt.
* 12: Description of the approach 1pt. Code implementation of the approach 2pts. Improved performance 2pts.

In [ ]:
## Your code here

##  Class imbalance and model performances (6 points)


**13**: Evaluate the other technique (SMOTE) to handeling imbalance data left in *6.b*. Does it makes a difference on the final model performance? Can you use the performance on the test set to choose which techniques to use? If not, what would you need to do so?

*You will be evaluated as follow*
* 13: Code 3pts. Explanation 3pts.

In [ ]:
## Your code here

**13**: Answer the question here (double click to edit a text cell)